<a href="https://colab.research.google.com/github/heispv/algorithmic-trading/blob/master/algorithmic_trading.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd
import numpy as np
# import talib

# Read data from CSV file into a Pandas dataframe
data = pd.read_csv('/content/drive/MyDrive/DAT_MT_EURUSD_M1_2021.csv')
data.head()

   2021.01.03  17:00  1.223960  1.223960.1  1.223730  1.223950  0
0  2021.01.03  17:01   1.22387     1.22420   1.22385   1.22395  0
1  2021.01.03  17:02   1.22396     1.22398   1.22382   1.22382  0
2  2021.01.03  17:03   1.22383     1.22396   1.22376   1.22378  0
3  2021.01.03  17:04   1.22378     1.22385   1.22296   1.22347  0
4  2021.01.03  17:05   1.22347     1.22347   1.22317   1.22337  0

In [13]:
# Change the columns name
data.columns = ['Date', 'Time', 'Open', 'High', 'Low', 'Close', 'Volume']

In [14]:
# Remove the volume
data.drop('Volume', axis=1)

              Date   Time     Open     High      Low    Close
0       2021.01.03  17:01  1.22387  1.22420  1.22385  1.22395
1       2021.01.03  17:02  1.22396  1.22398  1.22382  1.22382
2       2021.01.03  17:03  1.22383  1.22396  1.22376  1.22378
3       2021.01.03  17:04  1.22378  1.22385  1.22296  1.22347
4       2021.01.03  17:05  1.22347  1.22347  1.22317  1.22337
...            ...    ...      ...      ...      ...      ...
369496  2021.12.31  16:54  1.13797  1.13797  1.13774  1.13774
369497  2021.12.31  16:55  1.13775  1.13781  1.13748  1.13748
369498  2021.12.31  16:56  1.13749  1.13765  1.13704  1.13707
369499  2021.12.31  16:57  1.13709  1.13740  1.13679  1.13740
369500  2021.12.31  16:58  1.13740  1.13740  1.13681  1.13686

[369501 rows x 6 columns]

In [15]:
# Read data from CSV file into a Pandas dataframe
data = pd.read_csv('eurusd_1h.csv')

# Calculate the low and high of the last candle
last_candle_low = data['Low'].shift(1)
last_candle_high = data['High'].shift(1)

# Calculate the low and high of the current candle
current_candle_low = data['Low']
current_candle_high = data['High']

# Initialize the buy and sell signal columns to 0
data['Buy Signal'] = np.where(current_candle_high > last_candle_high, 1, 0)
data['Sell Signal'] = np.where(current_candle_low < last_candle_low, 1, 0)

# Print the updated Pandas dataframe
print(data)

              Date   Time     Open     High      Low    Close  Volume  \
0       2021.01.03  17:01  1.22387  1.22420  1.22385  1.22395       0
1       2021.01.03  17:02  1.22396  1.22398  1.22382  1.22382       0
2       2021.01.03  17:03  1.22383  1.22396  1.22376  1.22378       0
3       2021.01.03  17:04  1.22378  1.22385  1.22296  1.22347       0
4       2021.01.03  17:05  1.22347  1.22347  1.22317  1.22337       0
...            ...    ...      ...      ...      ...      ...     ...
369496  2021.12.31  16:54  1.13797  1.13797  1.13774  1.13774       0
369497  2021.12.31  16:55  1.13775  1.13781  1.13748  1.13748       0
369498  2021.12.31  16:56  1.13749  1.13765  1.13704  1.13707       0
369499  2021.12.31  16:57  1.13709  1.13740  1.13679  1.13740       0
369500  2021.12.31  16:58  1.13740  1.13740  1.13681  1.13686       0

        Buy Signal  Sell Signal
0                0            0
1                0            0
2                0            0
3                0            0
4                0            0
...            ...          ...
369496           0            0
369497           0            0
369498           0            0
369499           0            0
369500           0            0

[369501 rows x 9 columns]